<h3 mat-dialog-title>Login</h3>
<mat-dialog-content>
    <mat-form-field>
        <input [(ngModel)]="email" matInput placeholder="Email" type="text">
        <button (click)="email=undefined" *ngIf="email" aria-label="clear" cdkFocusInitial mat-button mat-icon.button
        matSuffix>
            <mat-icon>close</mat-icon>
       </button>
    </mat-form-field>
    <mat-form-field>
        <input [(ngModel)]="password" matInput placeholder="Password" type="password">
    </mat-form-field>
</mat-dialog-content>
<a id="suscribe" (click)="suscribe()">¡Suscribete ahora!</a>
<mat-dialog-actions>
    <button (click)="login()" mat-raised-button color="primary">Login</button>
</mat-dialog-actions>